// $font-color: rgb(255, 255, 255);
// $font-fam: 'Montserrat', sans-serif;
// $accent: #cc45f7; //needs to be strong and stick out
// $secondary-accent: #370252; //darkest or lightest of the bunch (is shadows)
// $secondary-fields: #43009c; //strong but not eye-hurty (medum large fields)
// $tertiary-fields: #4b0bd6; //strong but not eye-hurty, somewhat in contrast with secondary fields
// $background-color: #0e001a; //soft and not eye-hurty
// $main-background-color: linear-gradient(0deg, $secondary-fields 0%, $tertiary-fields 100%);

$font-color: rgb(255, 255, 255);
$font-fam: 'Montserrat', sans-serif;
$accent: #e300eb; //needs to be strong and stick out
$secondary-accent: #8e2c91; //darkest or lightest of the bunch (is shadows)
$secondary-fields: #3e1340; //strong but not eye-hurty (medum large fields)
$tertiary-fields: #560059; //strong but not eye-hurty, somewhat in contrast with secondary fields
$background-color: #250026; //soft and not eye-hurty
$main-background-color: linear-gradient(0deg, $secondary-fields 0%, $tertiary-fields 100%);
