.landingpage {
    display: grid;
    gap: 2% 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
    grid-row: 1 / 1;
}

.square {
    border: 3px solid $secondary-accent;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px $secondary-accent;
    background-color: $secondary-fields;
    margin: 1em;
    padding: 1em;
    width: 90%;
}

.invis {
    height: 200px;
    margin: 1em;
    min-width: 100%;
}

//for smaller screens
@media (max-width: 1200px) {
    .landingpage {
        margin: 0%;
    }

    .square {
        min-width: 30%;
        margin: 0;
        padding: 1em;
    }
}

//for mobile
@media (max-width: 600px) {
    .landingpage {
        width: 100%;
        display: block;
    }

    .landingpage h1 {
        grid-column: span 1;
    }

    .square {
        width: 100%;
        margin-bottom: 2em;
        margin-top: 2em;
        box-shadow: none;
    }

    .invis {
        display: none;
    }
}

img {
    width: 100%;
}

.calcdoc {
    width: 100%;
    min-height: 300px;
}
