@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import '../../shared/css/font-awsome.min.css';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'technology';
@import 'gallery';

* {
    color: $font-color;
    font-family: $font-fam;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

/* Placement */

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding: 2em;
    background: $main-background-color;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
    border: 1px solid $accent;
}

//for smaller screens
@media (max-width: 1200px) {
    .main {
        margin: 0%;
    }
}

.header,
.footer {
    flex: 0 0 auto;
    margin: 1em;
    padding: 1em;
}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.nav a {
    color: $accent;
}

/* Title */

.title,
.logo {
    padding: 3em 3em 3em 0;
}

img {
    max-width: 100%;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        width: 120px;
    }
}

.side {
    float: right;
    margin-left: 1em;
    max-width: 300px;
}

.title * {
    color: $accent;
}

.title p {
    font-style: italic;
}

.logo {
    width: 150px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $accent;
    background-color: $secondary-fields;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 120px;
}

.footer a {
    color: $secondary-fields;
}

.footer .social {
    font-size: 2rem;
}

/* Typography */

body {
    line-height: 2em;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0.8em;
}


a:hover,
a:focus,
a:active,
a:visited,
a:link {
    text-decoration: none;
    color: $accent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

pre {
    margin: 1em;
    word-break: break-all;
    white-space: pre-wrap;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.embed-container {
    display: block;
    position: relative;
    margin-top: 20%;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
